<div class="textbox" >
  <h1>Sheffield Code First: Girls</h1>

<p><a href="http://www.codefirstgirls.org.uk/">Code First: Girls</a> is a multi-award winning social enterprise, and we raise our revenues through a combination of sponsorship and corporate services. All profits we make get plugged back into running the community courses and other activities we run with smart young women who want to build careers in tech and entrepreneurship.</p>

<p>Each year we run classes that teach 2000+ women how to code, for free. Over the past 4 years we've delivered £2 million+ of free coding courses, and helped companies to recruit better tech talent into their firms. </p>

<p>This page aims to showcase the work our amazing students have done here in Sheffield following the 8 week courses</p>
</div>

<div class="textbox" >
  <div class="row">
    <div class="col-md-offset-2 col-md-4">
      <a href="/htmlss17">
        <img src="/img/HTML5.png"/>
        <h1>HTML Course</h1>
      </a>
    </div>
    <div class="col-md-4">
      <a href="/pythonss17">
        <img src="/img/pythonlogo.jpg"/>
        <h1>Python Course</h1>
      </a>
    </div>
  </div>
</div>

<div class="textbox" >
<h1>Our Instructors</h1>

<div class="imgbox" >
  <a href="http://twitter.com/TejayWhite">
    <img src="/img/tejay.jpg" class="grey"/>
  </a>
  <a href="http://twitter.com/CaffinatedDave" >
    <img src="/img/dave.jpg" class="grey">
  </a>
  <a href="http://twitter.com/chrisbingham" >
    <img src="/img/chris.jpg" class="grey">
  </a>
  <a href="http://twitter.com/ixek" >
    <img src="/img/tania.jpg" class="grey">
  </a>
  <a href="http://twitter.com/MrDarrenV" >
    <img src="/img/darren.jpg" class="grey">
  </a>
</div>

<p class="caption">Tejay White, Dave Chaston, Chris Bingham, Tania Allard, Darren Vong</p>

<p>Tell everyone else how awesome they are - nominate them as your <a href="https://codefirstgirls.typeform.com/to/zVjXUU" >instructor of the month!</a></p>

<h1>Our Ambassadors</h1>

<div class="imgbox" >
  <img src="https://pbs.twimg.com/media/C7EcSP-W4AIh2yM.jpg" class="grey"/>
</div>

<p class="caption">Sophie Kessler, Pauline Narvas</p>
</div>
