        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">HTML Beginners
                    <small>Spring/Summer 2016</small>
                </h1>
            </div>
        </div>

        <h2>Coming soon...</h2>
