        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">HTML Beginners
                    <small>Spring/Summer 2017</small>
                </h1>
            </div>
        </div>

		<div class="row winner">
            <div class="col-md-8 col-sm-6 col-md-offset-2 col-sm-offset-3 portfolio-item">
				<h2>Winning entry:</h2>
                <a href="https://namzcb.github.io/">
                    <img class="img-responsive" src="/img/cheffield.png" alt="">
                </a>
                <h3>
                    <a href="https://namzcb.github.io/">Cheffield</a>
                </h3>
                <p>Robin Best, Naomi Brear and Caitlin Wilkie</p>
            </div>
		</div>
        <div class="row">
            <div class="col-sm-4 portfolio-item">
                <a href="https://isabellatalbot.github.io/bootstrap_exercise-master/Project/">
                    <img class="img-responsive" src="/img/goGirl.png" alt="">
                </a>
                <h3>
                    <a href="https://isabellatalbot.github.io/bootstrap_exercise-master/Project/">Go Girl</a>
                </h3>
				<p>Jen Whitfield, Sovra Whitcroft and Isabella Talbot</p>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="https://r-j-arnold.github.io/">
                    <img class="img-responsive" src="/img/bubbleBright.png" alt="">
                </a>
                <h3>
                    <a href="https://r-j-arnold.github.io/">BubbleBright</a>
                </h3>
				<p>Becky Arnold</p>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="https://trp15jy.github.io/Project-she/index.html">
                    <img class="img-responsive" src="/img/sheEats.png" alt="">
                </a>
                <h3>
                    <a href="https://trp15jy.github.io/Project-she/index.html">She Eats</a>
                </h3>
                <p>Jennifer Yashi and Wiam Sa'ad</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 portfolio-item">
                <a href="https://tanick2000.github.io/">
                    <img class="img-responsive" src="/img/sheSees.png" alt="">
                </a>
                <h3>
                    <a href="https://tanick2000.github.io/">She Sees</a>
                </h3>
                <p>Barbara Agwaziam and Tania Herrera</p>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="https://carmennuos.github.io/caRmeNNUoS/">
                    <img class="img-responsive" src="/img/abcHealth.png" alt="">
                </a>
                <h3>
                    <a href="https://carmennuos.github.io/caRmeNNUoS/">ABC Health</a>
                </h3>
				<p>Beth King, Carmen Apostol and Alice Boldison</p>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="https://geebzie.github.io/dermodepotopeningpage1.html">
                    <img class="img-responsive" src="/img/dermoDepot.png" alt="">
                </a>
                <h3>
                    <a href="https://geebzie.github.io/dermodepotopeningpage1.html">DermoDepot</a>
                </h3>
                <p>Elly Wheeler and Charlotte Brzezinski</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 portfolio-item">
                <a href="http://mljgreer1.github.io/">
                    <img class="img-responsive" src="/img/likeSkin.png" alt="">
                </a>
                <h3>
                    <a href="http://mljgreer1.github.io/">Like Skin</a>
                </h3>
                <p>Louise Taylor and Michael Greer</p>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="https://cshroff.github.io/TravellingMonkeys.github.io/">
                    <img class="img-responsive" src="/img/travellingMonkeys.png" alt="">
                </a>
                <h3>
                    <a href="https://cshroff.github.io/TravellingMonkeys.github.io/">Travelling Monkeys</a>
                </h3>
				<p>Jie Xin Tan, Judit Meszaros and Claire Shroff</p>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="https://mnbrien.github.io/">
                    <img class="img-responsive" src="/img/jungleBungle.png" alt="">
                </a>
                <h3>
                    <a href="https://mnbrien.github.io/">Jungle Bungle</a>
                </h3>
                <p>Madawi Alahmad and Melanie Brien</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 portfolio-item">
                <a href="https://nuruljannah.github.io/travelchina1.html">
                    <img class="img-responsive" src="/img/travelChina.png" alt="">
                </a>
                <h3>
                    <a href="https://nuruljannah.github.io/travelchina1.html">TravelChina</a>
                </h3>
                <p>Yunzhou Li and Jannah Shaffie</p>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="http://dilshia.github.io">
                    <img class="img-responsive" src="/img/gourmetGuru.png" alt="">
                </a>
                <h3>
                    <a href="http://dilshia.github.io/">London's Gourmet Guru</a>
                </h3>
                <p>Dilshi Abeywardena</p>
            </div>
        </div>

<div class="footnote">
  <p>Are we missing your entry? Contact <a href="http://twitter.com/caffeinateddave/"><span class="mail">@CaffeinatedDave</span></a> to get it added</p>
</div>

