        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">HTML Beginners
                    <small>Spring/Summer 2017</small>
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="#">Pending... </a>
                </h3>
				<p>Georgie Darling and Jessica Davis</p>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="#">Pending... </a>
                </h3>
                <p>Robin Best, Naomi Brear and Caitlin Wilkie</p>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="https://isabellatalbot.github.io/bootstrap_exercise-master/Project/">Go Girl</a>
                </h3>
				<p>Jen Whitfield, Sovra Whitcroft and Isabella Talbot</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="#">Pending... </a>
                </h3>
				<p>Becky Arnold</p>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="#">She Eats</a>
                </h3>
                <p>Jennifer Yashi and Wiam Saad</p>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="#">She Sees</a>
                </h3>
                <p>Barbara Agwaziam and Tania Herrera</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="#">AlphaBetaCool</a>
                </h3>
				<p>Beth King, Carmen Apostol and Alice Boldison</p>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="#">qewerKy</a>
                </h3>
                <p>Elly Wheeler and Charlotte Brzezinski</p>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="#">Like Skin</a>
                </h3>
                <p>Louise Taylor and Michael Greer</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="#">Travelling Monkeys</a>
                </h3>
				<p>Jie Xin Tan, Judit Meszaros and Claire Shroff</p>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="#">Jungle Bungle</a>
                </h3>
                <p>Madawi Alahmad and Melanie Brien</p>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="#">Pending... </a>
                </h3>
                <p>Yunzhou Li and Jannah Shaffie</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="#">Pending... </a>
                </h3>
                <p>Dilshi Abeywardena</p>
            </div>
        </div>
