        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">HTML Beginners
                    <small>Autumn/Winter 2016</small>
                </h1>
            </div>
        </div>

        <div class="row winner">
          <div class="col-md-8 col-sm-6 col-md-offset-2 col-sm-offset-3">
            <h2>Winning entry:</h2>
            <a href="https://themoonrune.github.io/">
                <img class="img-responsive" src="/img/ethicalLiving.png" alt="">
            </a>
            <h3>
                <a href="https://themoonrune.github.io/">Ethical Living</a>
            </h3>
  		    <p>Eira Watts Moore, Flora Lake and Megha Kalokhe</p>
          </div>
		</div>

        <div class="row">
            <div class="col-sm-4 portfolio-item">
                <a href="https://linhhng.github.io/lessthan5.html">
                    <img class="img-responsive" src="/img/lessThan5.png" alt="">
                </a>
                <h3>
                    <a href="https://linhhng.github.io/lessthan5.html">Less than 5</a>
                </h3>
                <p>Ha Linh Nguyen</p>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="https://jackie25.github.io/Russian%20Language%20Company.html">
                    <img class="img-responsive" src="/img/russianLanguageCo.png" alt="">
                </a>
                <h3>
                    <a href="https://jackie25.github.io/Russian%20Language%20Company.html">The Russian Language Company</a>
                </h3>
                <p>Jacqueline Kaminsky and Beata Florczak</p>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="https://coffeefirst-sheffield.github.io/">
                    <img class="img-responsive" src="/img/coffeeFirst.png" alt="">
                </a>
                <h3>
                    <a href="https://coffeefirst-sheffield.github.io/">Coffee First: Sheffield</a>
                </h3>
                <p>Aisha Khan and Emma Lleong</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 portfolio-item">
                <a href="https://yw271.github.io/index.html#Join_us">
                    <img class="img-responsive" src="/img/iCare.png" alt="">
                </a>
                <h3>
                    <a href=ihttps://yw271.github.io/index.html#Join_us">iCare</a>
                </h3>
                <p>Alanah Sheridan and Yulua Wang</p>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="https://hebbabeech.github.io/">
                    <img class="img-responsive" src="/img/undiscoveredSheffield.png" alt="">
                </a>
                <h3>
                    <a href="https://hebbabeech.github.io/">Undiscovered Sheffield</a>
                </h3>
                <p>Yuet Kwan Carman Leong, Clarissa Natal and Hebba Beech</p>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="https://eleni-m.github.io/">
                    <img class="img-responsive" src="/img/geographyCouncillor.png" alt="">
                </a>
                <h3>
                    <a href="https://eleni-m.github.io/">Geography Councillor</a>
                </h3>
                <p>Eleni Ravanis</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 portfolio-item">
                <a href="https://sophieproud.github.io/HaikuHeart/pages/Splash.html">
                    <img class="img-responsive" src="/img/haikuHeart.png" alt="">
                </a>
                <h3>
                    <a href="https://sophieproud.github.io/HaikuHeart/pages/Splash.html">Haiku Heart</a>
                </h3>
                <p>Ruxandra Maria</p>
            </div>
        </div>

<div class="footnote">
  <p>Are we missing your entry? Contact <a href="http://twitter.com/caffeinateddave/"><span class="mail">@CaffeinatedDave</span></a> to get it added</p>
</div>

