        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Python Advanced
                    <small>Spring/Summer 2017</small>
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 portfolio-item">
                <a href="http://shefcodefirst-tweets.herokuapp.com">
                    <img class="img-responsive" src="/img/shefcodefirst.png" alt="">
                </a>
                <h3>
                    <a href="http://shefcodefirst-tweets.herokuapp.com">Twitter #shefcodefirst</a>
                </h3>
				<p>Pauline Narvas and Sophia Kessler</p>
            </div>
            <div class="col-sm-4 portfolio-item">
                <img class="img-responsive" src="/img/placeholder.png" alt="">
                <h3>
                    Food leftovers: find recipes
                </h3>
                <p>Camille Lee-Own and Zoe King</p>
            </div>
            <div class="col-sm-4 portfolio-item">
                <img class="img-responsive" src="/img/placeholder.png" alt="">
                <h3>
                    Spotify API used to create playlist
                </h3>
				<p>Vaiva Zokaite and Abigail White</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 portfolio-item">
                <img class="img-responsive" src="/img/placeholder.png" alt="">
                <h3>
                    Hangman game
                </h3>
				<p>Anjani Wirasinghe, Kim Koay and Lakshika Juneja</p>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="https://emcfg.herokuapp.com/">
                    <img class="img-responsive" src="/img/placeholder.png" alt="">
                </a>
                <h3>
                    <a href="https://emcfg.herokuapp.com/">No Hate App</a>
                </h3>
                <p>Esther Barlow-Smith and Megha Kalokhe</p>
            </div>
            <div class="col-sm-4 portfolio-item">
                <img class="img-responsive" src="/img/placeholder.png" alt="">
                <h3>
                    Pending...
                </h3>
				<p>Hannah Sewell and Adonia Umeh</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 portfolio-item">
                <img class="img-responsive" src="/img/placeholder.png" alt="">
                <h3>
                    Plan bot (chat)
                </h3>
				<p>Rosie Polya, Harriet Orkney and Emma Curran</p>
            </div>
            <div class="col-sm-4 portfolio-item">
                <img class="img-responsive" src="/img/placeholder.png" alt="">
                <h3>
                    Flights finder
                </h3>
                <p>Hannah Scott and Eira Watts Moore</p>
            </div>
            <div class="col-sm-4 portfolio-item">
                <img class="img-responsive" src="/img/placeholder.png" alt="">
                <h3>
                    Pending...
                </h3>
				<p>Michelle Nyamai and Shinade Walters</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 portfolio-item">
                <a href="https://twitter-freeze.herokuapp.com/">
                    <img class="img-responsive" src="/img/twitterfreeze.png" alt="">
                </a>
                <h3>
                    <a href="https://twitter-freeze.herokuapp.com/">Twitter freeze/analysis</a>
                </h3>
				<p>Nicola Brant, Robyn Ward and Yan Chen</p>
            </div>
        </div>
