.container {
  color: #333;
  font-family: 'Raleway', serif;
  font-size: 1.4em;
}

.textbox {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  border-bottom: 2px solid #666;
}
.textbox img {
  width: 250px;
  margin: auto;
}

.imgbox {
  margin: 0 auto;
}

.imgbox img {
  width: 200px;
  height: 200px;
  padding-top: 5px;
  object-fit: cover;
}

.caption {
  font-size: 0.8em;
  font-style: Italic;
}
img.grey {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

#page {
  margin-top: 100px; 
}
.navbar-right {
  padding: 25px 30px;
}
.navbar-toggle {
  top: 25px; 
}
.navbar-header,.navbar,.nav,.navbar-brand {
  min-height: 100px;
  background-color: #333;
  color: #ccc;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus,
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
  color: #ddd;
  background-color: #444;
}

.navbar-default .navbar-nav>.open, 
.navbar-default .navbar-nav>.open a, 
.navbar-default .navbar-nav>.open a:focus, 
.navbar-default .navbar-nav>.open a:hover,
.dropdown-header a:focus,
.dropdown-header a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover,
.dropdown-menu>li>a:focus, 
.dropdown-menu>li>a:hover {
  color: #ddd;
  background-color: #444;
}

.dropdown-menu {
  padding: 0;
  font-weight: 200;
}
.dropdown-menu .divider {
  margin: 0;
  padding: 9px 0;
}
.dropdown-header {
  font-weight: 800;
}
.dropdown-menu,
.dropdown-header,
.dropdown-menu .divider,
.navbar-default .navbar-nav>.open a {
  color: #ccc;
  background-color: #333;
}
.navbar-brand img {
  margin: auto;
}

.winner {
  text-align: center;
  
}
.winner img {
  border: 2px solid #333;
}
.footnote {
  width: 100%;
  margin: auto;
  text-align: center;
  font-size: 0.7em;
  font-style: italic;
}

.footnote .mail {
  font-weight: 600;
}
